<footer>
    <div id="contact-us">
        <a href="tel:+962785330572" target="_blank"><i class="fa-solid fa-phone"></i></a>
        <a href="mailto:sirarabati@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://maps.app.goo.gl/TQ4ttF9uUdZEBKWK9" target="_blank"><i class="fa-solid fa-location-dot"></i></a>
        <a href="https://chat.whatsapp.com/L4KJ6jiyKN0IPH3lT2pCmO" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <br>
    <div>
        <a href="/privacy-policy">Privacy Policy</a>
        <br>
        <a href="#all-rights-reserved-arabati">All rights reserved 2025 &copy; Arabati</a>
    </div>
</footer>

<button id="go-to-top">
    <i class="fas fa-chevron-up"></i>
</button>