<header class="header">
    <nav>
        <div class="logo">
            <a href="/"><img src="/images/marka_white.png">BAU&nbsp;<span>Zarqa</span></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            <li><a href="/#our-games">Our Services</a></li>
            <li><a href="/#our-location">Our Location</a></li>
            <li><a href="/#about-us">About Us</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            {{#if user}}
            <li><a href="#{{user.name}}">{{user.name}}</a></li>
            <li><a href="/user/sign-out">Log Out</a></li>
            {{else}}
            <li><a href="/user/sign-up">Join Us</a></li>
            {{/if}}
        </ul>
    </nav>
</header>