<header class="header">
    <nav>
        <div class="logo">
            <a href="/"><img src="/images/marka_white.png">BAU&nbsp;<span>Zarqa</span></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            <li><a href="/#our-services">Services</a></li>
            <li><a href="/#our-college">College</a></li>
            <li><a href="/#about-us">About</a></li>
            <li><a href="#contact-us">Contact</a></li>
            {{#if user}}
            <li><a href="/user/profile">Profile</a></li>
            {{else}}
            <li><a href="/user/sign-up">Join</a></li>
            {{/if}}
        </ul>
    </nav>
</header>