<section class="banner-container">
    {{!-- <video autoplay muted loop>
        <source src="/videos/desertdefense.mp4" type="video/mp4">
    </video> --}}
    <img src="/images/banner1.png" class="banner active">
    <img src="/images/banner2.png" class="banner">
    <div class="banner-content">
        <img src="/images/marka_shadow.png">
        <h1>BAU Zarqa Official Website</h1>
        <p>This website was made by <strong>&copy; <u style="text-decoration: underline !important;">Ahmad
                    Arabati</u></strong>.</p>
        <a href="#about-us">Explore Now</a>
    </div>
</section>

<main>
    <section id="explanation" class="section">
        <h2>Explanation</h2>
        <iframe height="450" src="https://www.youtube.com/embed/US-jGScsWtA?si=esAzDmHBiIU9-CRA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section id="our-services" class="section">
        <h2>Our Services</h2>
        <p><strong>Some questions you might have:</strong></p>
        <p><em>What services do you provide?</em></p>
        <ul>
            <li><strong>Book Exchange:</strong> Easily sell, buy, donate, or exchange books with other students.
                Simplify your academic journey!</li>
            <li><strong>Question Bank (Coming Soon):</strong> Access a curated collection of past exam questions and
                potential future questions to help you prepare with confidence.</li>
            <li><strong>Grades Calculator:</strong> Quickly calculate your current or expected GPA.</li>
            <li><strong>Ask & Answer:</strong> Have an academic question or problem? Ask the community and get answers
                from students and experts, or contribute by answering questions you know.</li>
            <li><strong>WhatsApp Groups:</strong> Find and join relevant WhatsApp groups to enhance your learning
                experience and stay connected with your peers.</li>
            <li><strong>CV Maker:</strong> Create a professional CV quickly and easily. Get free CV editing assistance
                and download it as a PDF.</li>
            <li><strong>Field Training:</strong> Record and save all the valuable information from your field training,
                then generate a full PDF book with your training details.</li>
        </ul>
        <br>
        <p><em>What about the prices?</em></p>
        <ul>
            <li>Don't worry about costs! It's 100% <strong>free</strong>. Our goal is to make learning accessible and
                enjoyable for everyone.</li>
            <li>All what you need is to sign in and get verified by us.</li>
        </ul>
        <div class="cards-container">
            <div class="card">
                <img src="/images/book-exchange.png">
                <h3>BOOK EXCHANGE</h3>
                <a href="/services/book-exchange"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card">
                <img src="/images/questions_bank.png">
                <h3>QUESTIONS BANK</h3>
                <a onclick="alert('Soon!')"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card">
                <img src="/images/grades-calculator.png">
                <h3>GRADES CALCULATOR</h3>
                <a href="/services/grades-calculator"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card">
                <img src="/images/ask-and-answer.png">
                <h3>ASK & ANSWER</h3>
                <a href="/services/ask-and-answer"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card">
                <img src="/images/whatsapp-groups.png">
                <h3>WHATSAPP GROUPS</h3>
                <a href="/services/whatsapp-groups"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card">
                <img src="/images/cv-maker.png">
                <h3>CV MAKER</h3>
                <a href="/services/cv-maker"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
            <div class="card field-training">
                <img src="/images/field-training.png">
                <h3>FIELD TRAINING</h3>
                <a href="/services/field-training"><i class="fa-solid fa-link"></i> OPEN</a>
            </div>
        </div>
    </section>

    <section id="our-college" class="section">
        <h2>Our College</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.6007798838937!2d36.0926648!3d32.0529957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b6fd280a9c80d%3A0x490bdd2869686758!2z2KzYp9mF2LnYqSDYp9mE2KjZhNmC2KfYoSDYp9mE2KrYt9io2YrZgtmK2Kkv2YPZhNmK2Kkg2KfZhNiy2LHZgtin2KEg2KfZhNis2KfZhdi52YrYqQ!5e0!3m2!1sen!2sjo!4v1738184563574!5m2!1sen!2sjo"
            height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section id="about-us" class="section">
        <h2>About Us</h2>
        <p>
            Hello, i'm Ahmad Arabati, a student at Al-Balqa Applied University - Zarqa College.
        </p>
        <strong style="text-decoration: underline;">
            <p>What i'm doing in my life:</p>
        </strong>
        <ul>
            <li>Studying Medical Analysis.</li>
            <li>An individual Web, App, Games developer.</li>
            <li>Photographic designer & video editor.</li>
            <li>A professional football player and former player at Al-Faisaly and Al-Rusaifa clubs.</li>
            <li>A chess player and I already won some awards for it at the city level.</li>
            <li>I enjoy solving puzzles in general, problem solving, Rubik's Cube, etc...</li>
            <li>I'm a professional gamer and I have a long history in the gaming field.</li>
        </ul>
    </section>

</main>

<style>
    .banner-container {
        position: relative;
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }

    .banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        filter: blur(0.25vmax);
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .banner.active {
        opacity: 1;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 1;
        width: 75%;
    }

    .banner-content img {
        width: 30vmin;
    }

    .banner-content h1 {
        font-size: 3vmax;
        margin-bottom: 1vmax;
        text-shadow: 0.5vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.7);
    }

    .banner-content p {
        font-size: 1.2vmax;
        margin-bottom: 1.5vmax;
        text-shadow: 0.5vmax 0.5vmax 0.5vmax rgba(0, 0, 0, 0.7);
    }

    .banner-content a {
        font-size: 1vmax;
        text-decoration: none;
        color: white;
        background: var(--secondary);
        padding: 0.8vmax 1.5vmax;
        border-radius: 0.4vmax;
        transition: 0.3s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .banner-content a:hover {
        color: var(--secondary);
        background: white;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vmax;
        justify-content: center;
        padding: 2vmax;
    }

    .card {
        border-radius: 1vmax;
        box-shadow: 0 0 0.6vmax 0.3vmax var(--font);
        transition: transform 0.3s ease-in-out;
        text-align: -webkit-center;
        padding: 1vmax;
    }

    .field-training, .employment {
        width: calc(200% + 2vmax) !important;
        max-width: none;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        border-radius: 1vmax 1vmax 0 0;
        width: 100%;
    }

    .card h3 {
        font-size: 1.35vmax;
        margin: 0.25vmax 0;
        color: var(--font);
    }

    .card a {
        display: block;
        width: 100%;
        font-size: 1vmax;
        background-color: var(--font);
        color: white;
        padding: 0.25vmax;
        border-radius: 0.25vmax;
        cursor: pointer;
        transition: 0.3s;
    }

    .card a:hover {
        background-color: var(--secondary);
    }

    iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        border: 0.2rem solid var(--font) !important;
        overflow: hidden;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const banners = document.querySelectorAll(".banner");
        let index = 0;

        setInterval(() => {
            banners[index].classList.remove("active");
            index = (index + 1) % banners.length;
            banners[index].classList.add("active");
        }, 3000);
    });
</script>