<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="lVxNeRRf0T-u753bgC1To3ZDRzqicFVt0KEIWSelldw" />
    <link rel="shortcut icon" href="/images/marka_white.png" type="image/x-icon">
    <title>BAU Zarqa {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-...your-sha512-hash-here..." crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/173c80e632.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    {{> header}}

    {{{ body }}}

    {{> footer}}

    <script src="/js/index.js"></script>

</body>

</html>
