<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="lVxNeRRf0T-u753bgC1To3ZDRzqicFVt0KEIWSelldw">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9708779422097324"
        crossorigin="anonymous"></script>
    <meta name="description"
        content="bau zarqa, Enhance your academic experience with book exchanges, a GPA calculator, a question bank, and a CV maker. Join WhatsApp study groups, ask and answer academic questions, and record your field training—all in one platform!">
    <link rel="shortcut icon" href="/images/marka_white.png" type="image/x-icon">
    <title>BAU Zarqa {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/173c80e632.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    {{> header}}

    {{{ body }}}

    {{> footer}}

    <script src="/js/index.js"></script>

</body>

</html>