<main>
    <section class="section">
        <h1>Privacy Policy</h1>
        <h2>Bau Zarqa - Arabati</h2>
        <p>Last updated: January 29, 2025.</p>
        <p>This Privacy Policy explains how we collect, use, and protect your information when you use this website.</p>
    </section>

    <section class="section">
        <h2>Information We Collect</h2>
        <p>We collect personal information such as your name, university ID, phone number, and the front image of your
            university ID card.</p>
    </section>

    <section class="section">
        <h2>How We Use Your Information</h2>
        <p>We use the information collected for the following purposes:</p>
        <ul>
            <li><strong>Name:</strong> To identify you to other users on the platform.</li>
            <li><strong>University ID:</strong> To distinguish each student and verify their identity.</li>
            <li><strong>Phone Number:</strong> To contact you if someone wishes to engage with your offer.</li>
            <li><strong>Front Image of University ID Card:</strong> To verify your identity and prevent fraud.</li>
        </ul>
    </section>

    <section class="section">
        <h2>Your Rights</h2>
        <p>You have the right to access, update, or delete your personal information at any time.</p>
        <p>If you wish to review, update, or delete your information from our database, please contact us.</p>
    </section>

    <section class="section">
        <h2>Security</h2>
        <p>We take the security of your information seriously and ensure that sensitive data, such as passwords, are
            hashed for protection.</p>
        <p>Additionally, once we have verified your identity, we remove the university ID card from our database, as it
            is only used for verification purposes and is not retained for any other reasons.</p>
    </section>

    <section class="section">
        <h2>Changes to This Policy</h2>
        <p>We may update this Privacy Policy periodically. Any changes will be reflected on this page with a new
            effective date.</p>
    </section>
</main>