<main>
    <section class="section add-group">
        <h2>Whatsapp Groups</h2>
        <br>
        <form id="groupForm" method="POST" action="/db/add-group">
            <label>
                <strong>Name</strong>
                <input type="text" id="groupName" name="name" placeholder="اسم القروب" required>
            </label>

            <label>
                <strong>Link</strong>
                <input type="text" id="groupLink" name="link" rows="4" placeholder="رابط القروب" required>
            </label>

            <input type="text" id="uniId" name="uniId" maxlength="11" value="{{user.uniId}}" required style="display: none;">

            <button type="submit">Publish</button>
        </form>
        <br><br>

        {{#if error}}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
        <br>
        {{/if}}

        <hr>
    </section>

    <section class="section groups">
        <div class="cards-container"></div>
    </section>
</main>

<style>
    .add-group {
        text-align: -webkit-center;
    }

    form {
        width: 80%;
    }

    form label {
        display: flex;
        justify-content: space-between;
        font-size: 1vmax;
        align-items: center;
        margin-bottom: 3vh;
    }

    form label select,
    form label input {
        padding: 0.7vmax;
        width: 65%;
        border: 0.1vmax var(--secondary) solid;
        border-radius: 0.25vmax;
        font-size: 0.8vmax;
    }

    form button {
        width: 100%;
        font-size: 1vmax;
        padding: 0.25vmax;
        border: none;
        border-radius: 0.25vmax;
        background-color: var(--secondary);
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    form button:hover {
        opacity: 0.8;
    }

    form button:active {
        scale: 0.95;
    }

    @media (max-width: 1366px) {
        form label {
            font-size: 1rem;
        }

        form label select,
        form label input {
            font-size: 0.8rem;
        }

        form button {
            font-size: 1rem;
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vmax;
        justify-content: center;
        padding: 2vmax;
    }

    .card {
        border-radius: 1vmax;
        box-shadow: 0 0 0.6vmax 0.3vmax var(--font);
        transition: transform 0.3s ease-in-out;
        text-align: -webkit-center;
        padding: 1vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        border-radius: 50%;
        width: 100%;
    }

    .card h1,
    .card h2,
    .card h3 {
        margin: 0.25vmax 0;
    }

    .card h1 {
        font-size: 2vmax;
    }

    .card h2 {
        font-size: 1.35vmax;
        color: var(--font);
        text-transform: none;

    }

    .card h3 {
        font-size: 1vmax;
        color: var(--font);
        font-weight: 400;
    }

    .options {
        display: flex;
        gap: 2%;
    }

    .card a {
        display: block;
        width: 100%;
        font-size: 1vmax;
        background-color: var(--font);
        color: white;
        padding: 0.25vmax;
        border-radius: 0.25vmax;
        cursor: pointer;
        transition: 0.3s;
    }

    @media (max-width: 1366px) {
        .card h1 {
            font-size: 2rem;
        }

        .card h2 {
            font-size: 1.35rem;

        }

        .card h3,
        .card a {
            font-size: 1rem;
        }
    }

    .card a:hover {
        background-color: var(--secondary);
    }
</style>

<script src="/js/groups.js"></script>

<script>
    const user = {{{ json user }}};

    async function copy(link) {
        try {
            await navigator.clipboard.writeText(link);
            alert("Link copied to clipboard!");
        } catch (err) {
            alert("Failed to copy link. Please try again.");
        }
    }

    async function fetchGroups() {
        const groupsCards = document.querySelector('.cards-container');

        try {
            const response = await fetch("/db/get-groups");
            const groups = await response.json();

            groupsCards.innerHTML = '';

            groups.forEach((group) => {
                const card = document.createElement("div");
                card.className = "card";
                card.innerHTML = `
                <img src="${group.image}">
                <h3>${group.name}</h3>
                <div class="options" bis_skin_checked="1">
                    <a href="https://chat.whatsapp.com/${group.link}" target="_blank"><i class="fa-solid fa-link"></i></a>
                    <a onclick="copy('https://chat.whatsapp.com/${group.link}')"><i class="fa-solid fa-copy"></i></a>
                </div>`;

                groupsCards.appendChild(card);
            });
        } catch (error) { }
    }

    fetchGroups();
</script>