<main>
    <section class="section">
        <h2>Register New Student</h2>
        <form action="/db/user/sign-up" method="POST" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Example: Ahmad Arabati" required>
            <br>

            <label for="uni-id">Uni ID:</label>
            <input type="text" id="uni-id" name="uniId" placeholder="Example: 32217030050" required>
            <br>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" placeholder="Example: 077XXXXXXX" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Example: ahmad@1234" required>
            <br>

            <label for="uni-card">Uni Card:</label>
            <input type="file" id="uni-card" name="uniCard" accept="image/*" required>
            <br>

            <button type="submit">Sign Up</button>
            <a href="/user/sign-in">already have an account?</a>
        </form>
    </section>
</main>

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    main {
        place-self: center;
        width: 100%;
        max-width: 400px;
        margin: 5vh 0;
    }

    section {
        padding: 1rem !important;
        border-radius: 1vmax;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
    }

    label {
        font-size: 1em;
        color: #555;
        margin-bottom: 8px;
        font-weight: bold;
        text-transform: uppercase;
    }

    input,
    select,
    button {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid var(--secondary);
        border-radius: 8px;
        font-size: 1.1em;
        transition: all 0.3s ease;
    }

    input:focus,
    select:focus {
        border-color: var(--font);
        outline: none;
    }

    button {
        background-color: var(--secondary);
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        padding: 14px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    button:hover {
        opacity: 0.9;
    }

    button:active {
        scale: 0.95;
    }

    @media (max-width: 768px) {
        main {
            max-width: 400px;
        }

        h1 {
            font-size: 1.5em;
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 1.3em;
        }

        label,
        input,
        select,
        button {
            font-size: 1em;
        }
    }

    section a {
        color: var(--secondary);
        display: block;
        text-align: -webkit-center;
    }
</style>